
@{
    ViewData["Title"] = "tableManagerment";
    Layout = "~/Views/CoolAdmin-master/masterPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">data table</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
            </div>
            <div class="table-data__tool-right">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="edit();">
                    <i class="zmdi zmdi-plus"></i>Setup for this table
                </button>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>table</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in ViewBag.tables)
                    {
                        <tr class="tr-shadow @table.ip">
                            <td>@table.ip</td>
                            <td>@table.name</td>
                            <td>
                                <div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick="del('@table.ip');">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>
<script>
    function del(id) {
        $.ajax({
            url: "table-delete?id=" + id,
            type: "get",
            dataType: "text",
            data: {},
            success: function (result) {
                alert(result);
                $('.' + id).remove();
            }
        });
    }
    function edit() {
        var name = prompt("Please enter your name", "Harry Potter");
        if (name != null) {
            $.ajax({
                url: "table-edit?name=" + name,
                type: "post",
                dataType: "text",
                data: {},
                success: function (result) {
                    alert(result);
                    $('.' + id).remove();
                }
            });
        }

    }
</script>